---
import HeroLeft from "./HeroLeft.astro";
import HeroRight from "./HeroRight.astro";
---

<section>
    <!-- LEFT -->
    <HeroLeft
        title="The Brigth Future of Web 3.0?"
        content="We dive into the next evolution of the web that claims to put the power of the platforms back into the hands of the people. But is it really fulfilling its promise?"
    />

    <HeroRight />
</section>

<style>
    section {
        display: flex;
        gap: 1.9rem;
        margin: 20px 0;
    }

    @media screen and (max-width: 900px) {
        section {
            flex-direction: column;
        }
    }
</style>
